@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #8e4ec6;
  --purple-light: #d19dff;
  --purple-borders: #664282;
  --purple-interractive: #3d224e;
  --black: #18111b;
  --black-purple: #1e1523;
  --white: #ecd9fa;
  --grey-light: #f5f1ffb7;
  --grey-light-lighten: #f5f6f7;
  --grey-dark: #2f2f2f;
  --grey-dark-lighten: #393939;
}

* {
  scrollbar-width: none;
  ms-overflow-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  @apply bg-black text-white;
}

body::-webkit-scrollbar {
  display: none;
}

.flex-col-center {
  @apply flex flex-col items-center;
}

.flex-row-center {
  @apply flex flex-row items-center;
}

.flex-row-start-between {
  @apply flex flex-row items-start justify-between;
}

.flex-row-center-between {
  @apply flex-row-center justify-between;
}

.flex-row-center-center {
  @apply flex-row-center justify-center;
}

.flex-col-center-center {
  @apply flex-col-center justify-center;
}

.active {
  @apply flex-row-center py-2 px-4 bg-white text-black rounded-lg;
}

.btn {
  @apply flex-row-center gap-2 px-4 py-2 rounded-lg font-medium transition-all ease-in-out;
}

.btn-purple {
  @apply btn bg-purple text-white hover:bg-purple-light border-2 border-purple hover:border-purple-light;
}

.btn-purple-icon {
  @apply btn-purple gap-2;
}

.btn-black {
  @apply btn bg-black text-white border-2 border-white;
}

.btn-white {
  @apply btn text-grey-dark bg-white border-grey-light border-2 hover:bg-black hover:border-white hover:text-white;
}

.btn-white-icon {
  @apply btn-white gap-2;
}

.input-purple-ring {
  @apply mt-2 w-full px-3 bg-grey-dark text-base rounded-md border-0 py-2 ring-0 outline-none ring-grey-light focus:ring-2 focus:ring-inset focus:ring-purple placeholder:font-light placeholder:text-base;
}
